@model IEnumerable<MyBookStore.MvcApp.Models.DeliveryType>

@{
    ViewData["Title"] = "Index";
}

<h1>Список способов доставки</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Создать</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="d-flex flex-nowrap">
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-dark m-1">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-outline-dark m-1">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>